{% extends "web/settings/settings_base.html" %}
{% load static %}
{% block settings_content %}
<section class="app-card">
  <h2 class="text-xl font-semibold mb-2">Oops, there&#39;s an error in your subscription setup</h2>
  <p>Details:</p>
  <div class="text-error">
    {{ error }}
  </div>
  <p>
    <strong>
      For more information on how to setup Stripe Subscriptions see
      <a href="https://docs.saaspegasus.com/subscriptions" target="_blank" class="link">the documentation</a>.
    </strong>
  </p>
</section>
{% endblock %}
