{% extends "budget/budget_base.html" %}
{% load static %}
{% load django_vite %}
{% load i18n %}

{% block app %}
  {# Data for React components #}
  {{ all_accounts|json_script:'all-accounts' }}
  {{ api_urls|json_script:'api-urls' }}
  {{ request.book.base_url|json_script:'book-base' }}

  <div class="container mx-auto px-4 py-6">
    {% translate "Budget" as budget_title %}
    {% include "budget/components/budget_page_header.html" with header_title=budget_title show_grid_link=True %}

    {% include "budget/components/budget_swap.html" %}
  </div>
{% endblock %}

{% block page_js %}
  <script>
    const SERVER_URL_BASE = "{{ request.scheme }}://{{ request.get_host }}";
  </script>
  {% vite_react_refresh %}
  {% vite_asset 'assets/javascript/budget/budget-actual-app.jsx' %}
  {% vite_asset 'assets/javascript/budget/budget-month-picker-app.jsx' %}
  {% vite_asset 'assets/javascript/budget/budget-autosave.js' %}
  {% vite_asset 'assets/javascript/budget/budget-visibility.js' %}
{% endblock %}
