{% extends 'account/email/email_template_base.html' %}
{% load i18n %}
{% block message_body %}
<p>{% blocktranslate trimmed with name=user.get_display_name project_name=project_name %}
  Welcome to {{ project_name }}, {{ name }}!
{% endblocktranslate %}</p>
<p>{% blocktranslate trimmed with project_name=project_name %}
  Your account is ready. Start tracking your budget and taking control of your finances with {{ project_name }}.
{% endblocktranslate %}</p>
{% endblock %}
{% block cta_link %}{{ login_url }}{% endblock %}
{% block cta_text %}{% translate "Go to Dashboard" %}{% endblock %}
