{% extends "web/app/app_base.html" %}
{% load i18n %}
{% block app %}
<nav aria-label="breadcrumbs">
  <ol class="pg-breadcrumbs">
    <li class="pg-breadcrumb-active" aria-current="page">{% translate "Payees" %}</li>
  </ol>
</nav>
<section class="app-card">
  <div class="flex justify-between items-center mb-4">
    <h3 class="pg-subtitle">{% translate "Payees" %}</h3>
    <a href="{% url 'transactions:payee_create' request.team.slug %}" class="pg-button-primary">
      {% translate "New Payee" %}
    </a>
  </div>
  {% if object_list %}
    <div class="overflow-x-auto">
      <table class="table table-zebra w-full">
        <thead>
          <tr>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Actions" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for payee in object_list %}
            <tr>
              <td><a href="{{ payee.get_absolute_url }}" class="link">{{ payee.name }}</a></td>
              <td>
                <a href="{% url 'transactions:payee_update' request.team.slug payee.pk %}" class="pg-button-secondary pg-button-sm">
                  {% translate "Edit" %}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p class="text-gray-500">{% translate "No payees yet." %} <a href="{% url 'transactions:payee_create' request.team.slug %}" class="link">{% translate "Create one now" %}</a>.</p>
  {% endif %}
</section>
{% endblock %}

